.DS_Store
.RData
.Rhistory
tokens.txt
secrets.yaml
logs/
*.log
__pycache__
data/*/*.json
data/copycatch_test/stargazers_real.csv
data/copycatch_test/stargazers_fake.csv
data/*/fake_stars.actors.json.zip
data/*/fake_stars.low_activity_stars.json.zip
data/*/fake_stars.clustered_stars.json.zip
data/*/fake_stars_users.csv
data/pypi_github.csv
data/npm_downloads.csv
data/repo_network.csv
data/readmes/*.md
data/*/*.txt
plots/